<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shamer | what about a joke?</title>

        <link rel="stylesheet" href="styles/landing-page.css">
        <link type="text/css" rel="stylesheet" href="styles/main.css">

    </head>                 
    <body>

            <div class="container">
                <h1 class='logo-name'>Shamer</h1>
                <a href="index.html" class="ready-button">READY</a>
                <p class="warning-message">Warning! if you laught more than 3 times here please look por psychological help</p>
            </div>

    </body>
    
</html>